:root {
    --text: #2F3645;
    --background: #EEEEEE;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
html {
    scroll-snap-type: y mandatory;
}
body {
    overflow-y: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar { 
    display: none;
}
.pages {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text);
    scroll-snap-align: start;
}
.page_info {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    top: 8%;
    left: 5%;
    font-weight: 500; 
    font-size: 20px;
}
.page_num {
    display: flex;
    border-width: 2px; /* top right bottom left */
    border-style: solid;
    border-color: var(--text);
    padding: 3px 15px;
    align-items: center;
    justify-content: center;
}
.page_name{
    border-width: 2px 2px 2px 0px; /* top right bottom left */
    border-style: solid;
    border-color: var(--text);
    padding: 3px 15px;
}
.main {
    position: absolute;
    top: 27%;
    left: 250px;
    width: fit-content;
    height: fit-content;
    font-weight: 500;
}
.above_main {
    font-size: 20px;
}
.main_text {
    font-size: 100px;
}
.sub {
    position: absolute;
    top: 55%;
    left: 38%;
    width: fit-content;
    height: fit-content;
}
.sub_heading {
    font-weight: 500;
    font-size: 19px;
}
.sub_text {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
}
#line {
    position: absolute;
    background-color: var(--text);
    top: 70%;
    left: 94%;
    width: 2px;
    height: 200px;
}
.down_text {
    position: absolute;
    white-space: nowrap;
    font-size: 19px;
    font-weight: 500;
    top: 90%;
    left: 5%;
}
#projects_wrapper {
    display: flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 55%;
    left: 35%;
}
.project_box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.project_line {
    width: 230px;
    height: 2px;
    background-color: var(--text);
    margin-bottom: 35px;
}
.button {
    width: 120px;
    border: 2px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-top: 20px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: var(--text);
}
a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: color 0.3s;
}
.button:hover a{
    color: var(--background);
}
#second_project {
    margin-left: 120px;
}
